<div class="home_feature home_feature_1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 item_desc">
        <h2>Share the best music in your life</h2>
        <p>The easiest way to share your favorite musics. Everything you need is here. All you have to do is to search for an album you want to share, to click to select it, and to compose your impression. That's all! Too simple.</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 item_image">
        <img src="images/slide1.jpg" style="width: 100%;">
      </div>
    </div>
  </div>
</div>
<div class="home_feature home_feature_2">
  <div class="container">
    <div class="row">
      <div class="col-md-5 item_image">
        <img src="images/slide2.jpg" style="width: 100%;">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6 item_desc">
        <h2>Apple Music player</h2>
        <p>When you read someone's impression, sometimes it will make you want to listen to its songs. Apple Music player on the impression page can help you to do that. You will no longer need to find a place to try the music on!</p>
      </div>
    </div>
  </div>
</div>
