<div class="home_top">
  <div class="container">
    <div class="heading">
      <h1>Great impressions for wonderful musics</h1>
      <p>Pacifica is the best platform to share your impressions for your favorite music albums.</p>
    </div>
  
    <div class="home_btns">
      <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary home_btn" %>
      or
      <%= link_to "Log in as test user", login_path(session: { email: "user-1@pacifica.com", password: "password" }), method: "post", class: "btn btn-lg btn-success home_btn" %>
    </div>
  </div>
</div>