<div class="post_new search_music">
  <h3>STEP1 - SEARCH</h3>
  <p>Find the album with its artist or album name</p>
  <input id="artist" class="search form-control" type="text" placeholder="input an artist name and press return">
  <input id="album" class="search form-control" type="text" placeholder="input an album name and press return">
</div>

<div id="search_results" class="post_new search_results">
  <h3>STEP2 - SELECT</h3>
  <p>Click to select an album you want to share</p>
  <div id="results"></div>  
</div>

<%= javascript_include_tag 'jquery.mCustomScrollbar.js', 'data-turbolinks-track' => true %>