<footer>
  <div class="container">
    <div class="footer_top">
      <span id="back_to_top" class="back_to_top">
        <i class="fas fa-angle-double-up"></i>
        Back to Top
      </span>
    </div>

    <div class="footer_bottom">
      <%= link_to "PACIFICA", root_path %>
      <p>Copyright © Daiya Kobiki, All Rights Reserved.</p>
    </div>
  </div>
</footer>